<md-dialog-content flex="50">
<md-dialog >

        <h2  class="visually-hidden">Edit form</h2>
        <div  class="carousel-form ember-view">
          <div  class="breadcrumb-carousel ember-view">
            <div  class="carousel-header ember-view">
              <!---->
              <div  class="carousel-header__item Sans-21px-black-85% carousel-header__item--show ember-view">
                <div id="carousel-header-item-main" class="carousel-header__item-content">
                  Add Education


                </div>
              </div>
              <div  class="carousel-header__item Sans-21px-black-85% carousel-header__item--hide ember-view">
                <div id="carousel-header-item-edit-treasury" class="carousel-header__item-content">
                  Edit Media

                </div>
              </div>
              <button type="button" data-control-name="cancel" class="form-back-action Sans-15px-black-55%" data-ember-action="" data-ember-action-10732="10732">
  <span class="svg-icon-wrap"><span class="visually-hidden">Cancel</span><li-icon aria-hidden="true" type="cancel-icon" ng-click="cancel()"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
</button>

            </div>
            <div  class="carousel-body ember-view">
              <div  class="carousel-item focused-easeInOut-motion carousel-item--show ember-view">
                <div  class="pe-education-form form-new ember-view">
                  <form class="pe-form " data-ember-action="" data-ember-action-10736="10736">
                    <div class="pe-s-form__container">
                      <header class="pe-s-form__header pe-form-header">

                        <button type="button" data-control-name="cancel" class="form-back-action Sans-15px-black-55%" data-ember-action="" data-ember-action-10737="10737">
  <span class="svg-icon-wrap"><span class="visually-hidden">Cancel</span><li-icon aria-hidden="true" type="cancel-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
</button>
                        <h2 class="pe-form-header__title">
            Add Education

      </h2>

                        <button type="submit" class="pe-form-footer__action--submit form-submit-action Sans-15px-white-100%">
  Save
</button>
                      </header>

                      <!---->
                      <div class="pe-s-form__body pe-form-body">
                        <div class="pe-form-field edu-school-name has-logo  ">
                          <!---->
                          <div class="pe-logo-container">
                            <img class="lazy-image pe-logo-container__img ghost-school loaded" alt="" height="24" width="24" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">

                            <section  class="type-ahead-logo-field pe-form-field__type-ahead ember-view">
                              <div  class="ember-view">
                                <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                                  <!---->
                                  <div role="search" class="type-ahead-input-container">
                                    <div class="type-ahead-input-wrapper">
                                      <div class="type-ahead-input">
                                        <label for="a11y-ember10738" class="label-text">
              School
          </label>
                                        <!----><input ng-model="school.name" aria-autocomplete="list" type="text" name="schoolName" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember10738" role="combobox" class="ember-text-field ember-view">
                                        <div class="type-ahead-input-icons">
                                          <!---->
                                        </div>
                                      </div>
                                      <!---->
                                    </div>
                                  </div>
                                  <!---->
                                  <div aria-live="polite" class="live-region visually-hidden"></div>
                                </div>
                              </div>
                            </section>
                          </div>

                          <!---->
                        </div>

                        <!---->
                        <div class="pe-form-field edu-degree-name  ">
                          <section  class="pe-form-field__type-ahead ember-view">
                            <div  class="ember-view">
                              <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                                <!---->
                                <div role="search" class="type-ahead-input-container">
                                  <div class="type-ahead-input-wrapper">
                                    <div class="type-ahead-input">
                                      <label for="a11y-ember10744" class="label-text">
              Degree
          </label>
                                      <!----><input ng-model="school.degree" aria-autocomplete="list" type="text" name="degreeName" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember10744" role="combobox" class="ember-text-field ember-view">
                                      <div class="type-ahead-input-icons">
                                        <!---->
                                      </div>
                                    </div>
                                    <!---->
                                  </div>
                                </div>
                                <!---->
                                <div aria-live="polite" class="live-region visually-hidden"></div>
                              </div>
                            </div>
                          </section>

                          <!---->
                        </div>

                        <!---->
                        <div class="pe-form-field edu-field-of-study  ">
                          <section  class="pe-form-field__type-ahead ember-view">
                            <div  class="ember-view">
                              <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                                <!---->
                                <div role="search"class="type-ahead-input-container">
                                  <div class="type-ahead-input-wrapper">
                                    <div class="type-ahead-input">
                                      <label for="a11y-ember10750" class="label-text">
              Field of study
          </label>
                                      <!----><input ng-model="school.field" aria-autocomplete="list" type="text" name="fieldOfStudy" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember10750" role="combobox" class="ember-text-field ember-view">
                                      <div class="type-ahead-input-icons">
                                        <!---->
                                      </div>
                                    </div>
                                    <!---->
                                  </div>
                                </div>
                                <!---->
                                <div aria-live="polite" class="live-region visually-hidden"></div>
                              </div>
                            </div>
                          </section>

                          <!---->
                        </div>

                        <!---->
                        <div class="pe-form-field floating-label  ">
                          <!----><label for="edu-grade" class="pe-form-field__label label-text">
    Grade
  </label>

                          <input ng-model="school.grade" type="text" maxlength="80" id="edu-grade" class="ember-text-field pe-form-field__text-input ember-view">

                          <!---->
                        </div>

                        <!---->
                        <div class="pe-form-field pe-education-form__activities-field floating-label  ">
                          <!----><label for="edu-activities-societies" class="pe-form-field__label label-text">
    Activities and societies
  </label>

                          <textarea ng-model="school.activities" id="edu-activities-societies" class="pe-education-form__activities-text ember-text-area pe-form-field__textarea ember-view"></textarea>

                          <div class="pe-form-field__aux">
                            <p class="pe-form-field__help-text Sans-13px-black-55%-italic">
                              Ex: Alpha Phi Omega, Marching Band, Volleyball
                            </p>
                          </div>
                        </div>

                        <!---->
                        <fieldset class="pe-form-field pe-form-time-period ">
                          <legend class="pe-form-field__label Sans-13px-black-55% block">
                            Time period
                          </legend>

                          <div class="pe-form-time-period__container">
                            <div class="pe-form-time-period__start-date">
                              <label for="pe-education-form__start-year" class="pe-form-field__label">
        From Year
      </label>
                              <span  class="ember-view">
                                <input ng-model="school.startdate" aria-autocomplete="list" type="date" class="ember-text-field ember-view">

</span>
                            </div>

                            <div class="pe-form-time-period__end-date">
                              <label for="pe-education-form__end-year" class="pe-form-field__label">
        To Year (or expected)
      </label>
                              <span  class="ember-view">
                                <input ng-model="school.enddate" aria-autocomplete="list" type="date" class="ember-text-field ember-view">

</span>
                            </div>
                          </div>

                          <!---->
                        </fieldset>


                        <div class="pe-form-field edu-description floating-label  ">
                          <!----><label for="edu-description" class="pe-form-field__label label-text">
    Description
  </label>

                          <textarea ng-model="school.description"name="description" id="edu-description" class="ember-text-area pe-form-field__textarea ember-view"></textarea>

                          <!---->
                        </div>

                        <!---->



                        </div> -->
                      </div>

                      <footer class="pe-s-form__footer pe-form-footer">

                        <div class="pe-form-footer__actions">

                          <!---->

                          <button ng-click="save()" type="submit" class="pe-form-footer__action--submit form-submit-action Sans-15px-white-100%">
  Save
</button>
                        </div>
                      </footer>
                    </div>
                  </form>
                </div>

              </div>
              <div  class="carousel-item focused-easeInOut-motion carousel-item--pop visibility-hidden ember-view">
                <!---->
              </div>
            </div>
          </div>
          <!---->
        </div>

</md-dialog>
</md-dialog-content>
