
<md-dialog >
    <!-- <md-dialog-content> -->

    <artdeco-modal role="dialog" tabindex="-1" aria-labelledby="profile-detail" size="1128dp" class="pv-profile-detail__modal pv-profile-detail__modal--large ">

      <button ng-click="cancel()" type="button" class="artdeco-dismiss"><li-icon aria-hidden="true" type="cancel-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">

        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon><span class="a11y-text">Cancel</span></button>
      <artdeco-modal-header id="ember11433" class="ember-view">
        <h2 id="profile-detail" class="pv-profile-detail__title ember-view">    Add Skill </h2>
      </artdeco-modal-header>
      <artdeco-modal-content id="ember11435" class="pv-profile-detail__modal-content ember-view">
        <!---->
        <!---->
        <div id="ember11436" class="pv-add__content display-flex flex-column pv-profile-detail__content ph4 ember-view">
          <div class="pv-add__message">
            <!---->
          </div>

          <section id="ember11437" class="pv-add__typeahead ember-view">
            <div id="ember11441" class="ember-view">
              <div class="type-ahead-wrapper type-ahead-theme-secondary pv-add__typeahead-wrapper display-flex flex-column is-active">
                <!---->
                <!-- <div role="search" class="type-ahead-input-container"> -->
                  <div class="type-ahead-input-wrapper">
                    <div class="type-ahead-input">
                      <label for="a11y-ember11437" class="visually-hidden">
              Skill (ex: Data Analysis)
          </label>
                      <!----><input ng-model="modalSkills" aria-autocomplete="list" autocomplete="off" spellcheck="false" placeholder="Skill (ex: Data Analysis)" autocorrect="off" autocapitalize="off" id="a11y-ember11437" role="combobox" class="ember-text-field ember-view" aria-owns="ember11443"
                        aria-expanded="true">
                      <!-- <div class="type-ahead-input-icons">

                      </div> -->
                    </div>
                    <!---->
                  </div>
                <!-- </div> -->

                <!-- <div aria-live="polite" class="live-region visually-hidden"></div> -->
              </div>
            </div>
          </section>

        </div>

      </artdeco-modal-content>
      <artdeco-modal-footer id="ember11447" class="ember-view">
        <!---->
        <button ng-click="add()" id="ember11448" class="button-primary-medium ml2 fr ember-view">
        Add
      </button>
        <!---->

      </artdeco-modal-footer>
    </artdeco-modal>
<!-- </md-dialog-content> -->
</md-dialog>
