<md-dialog-content flex="50">
<md-dialog>

    <h2 class="visually-hidden">Edit form</h2>
    <div class="carousel-form ember-view">
      <div id="ember11300" class="breadcrumb-carousel ember-view">
        <div id="ember11301" class="carousel-header ember-view">
          <!---->
          <div id="ember11302" class="carousel-header__item Sans-21px-black-85% carousel-header__item--show ember-view">
            <div id="carousel-header-item-main" class="carousel-header__item-content">
              Edit Experience
            </div>
          </div>
          <div id="ember11303" class="carousel-header__item Sans-21px-black-85% carousel-header__item--hide ember-view">
            <div id="carousel-header-item-edit-treasury" class="carousel-header__item-content">
              Edit Media
            </div>
          </div>
          <button type="button" data-control-name="cancel" class="form-back-action Sans-15px-black-55%" data-ember-action="" data-ember-action-11304="11304">
  <span class="svg-icon-wrap"><span class="visually-hidden">Cancel</span><li-icon aria-hidden="true" type="cancel-icon" ng-click="cancel()"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
</button>

        </div>
        <div id="ember11305" class="carousel-body ember-view">
          <div id="ember11306" class="carousel-item focused-easeInOut-motion carousel-item--show ember-view">
            <div id="ember11307" class="position-form form-edit ember-view">
              <form class="pe-form " data-ember-action="" data-ember-action-11308="11308">
                <div class="pe-s-form__container">
                  <header class="pe-s-form__header pe-form-header">

                    <button type="button" data-control-name="cancel" class="form-back-action Sans-15px-black-55%" data-ember-action="" data-ember-action-11309="11309">
  <span class="svg-icon-wrap"><span class="visually-hidden">Cancel</span><li-icon aria-hidden="true" type="cancel-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
</button>
                    <h2 class="pe-form-header__title">
            Edit experience

      </h2>

                    <button type="submit" class="pe-form-footer__action--submit form-submit-action Sans-15px-white-100%">
  Save
</button>
                  </header>

                  <!---->
                  <div class="pe-s-form__body pe-form-body">
                    <div class="pe-form-field position-title  ">
                      <section id="ember11310" class="pe-form-field__type-ahead ember-view">
                        <div id="ember11314" class="ember-view">
                          <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                            <!---->
                            <div role="search" class="type-ahead-input-container">
                              <div class="type-ahead-input-wrapper">
                                <div class="type-ahead-input">
                                  <label for="a11y-ember11310" class="label-text">
              Title
          </label>
                                  <!----><input ng-model="company.title" aria-autocomplete="list" type="text" name="title" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember11310" role="combobox" class="ember-text-field ember-view">
                                  <div class="type-ahead-input-icons">
                                    <button type="reset" class="clear-search type-ahead-input-icon" data-ember-action="" data-ember-action-11316="11316">
                <li-icon aria-hidden="true" type="error-pebble-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">
        <g id="error-pebble-icon">
          <g>
            <circle class="circle" r="6.1" stroke="currentColor" stroke-width="1.8" cx="8" cy="8" fill="none" transform="rotate(-90 8 8)"></circle>
            <path fill="currentColor" d="M10.916,6.216L9.132,8l1.784,1.784l-1.132,1.132L8,9.132l-1.784,1.784L5.084,9.784L6.918,8L5.084,6.216l1.132-1.132L8,6.868l1.784-1.784L10.916,6.216z"></path>
          </g>
        </g>
        <g id="Layer_1">
        </g>
      </g></svg></li-icon>
                <span class="a11y-text">Clear Search</span>
              </button>
                                  </div>
                                </div>
                                <!---->
                              </div>
                            </div>
                            <!---->
                            <div aria-live="polite" class="live-region visually-hidden"></div>
                          </div>
                        </div>
                      </section>


                      <!---->
                    </div>

                    <!---->

                    <div class="pe-form-field position-company-name has-logo  ">
                      <!---->
                      <div class="pe-logo-container">
                        <img class="lazy-image pe-logo-container__img loaded" alt="Big Outsource" height="24" width="24" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/200/35e/0b9035f.png">

                        <section id="ember11317" class="type-ahead-logo-field pe-form-field__type-ahead ember-view">
                          <div id="ember11321" class="ember-view">
                            <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                              <!---->
                              <div role="search" class="type-ahead-input-container">
                                <div class="type-ahead-input-wrapper">
                                  <div class="type-ahead-input">
                                    <label for="a11y-ember11317" class="label-text">
              Company
          </label>
                                    <!----><input ng-model="company.name" aria-autocomplete="list" type="text" name="companyName" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember11317" role="combobox" class="ember-text-field ember-view">
                                    <div class="type-ahead-input-icons">
                                      <button type="reset" class="clear-search type-ahead-input-icon" data-ember-action="" data-ember-action-11323="11323">
                <li-icon aria-hidden="true" type="error-pebble-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">
        <g id="error-pebble-icon">
          <g>
            <circle class="circle" r="6.1" stroke="currentColor" stroke-width="1.8" cx="8" cy="8" fill="none" transform="rotate(-90 8 8)"></circle>
            <path fill="currentColor" d="M10.916,6.216L9.132,8l1.784,1.784l-1.132,1.132L8,9.132l-1.784,1.784L5.084,9.784L6.918,8L5.084,6.216l1.132-1.132L8,6.868l1.784-1.784L10.916,6.216z"></path>
          </g>
        </g>
        <g id="Layer_1">
        </g>
      </g></svg></li-icon>
                <span class="a11y-text">Clear Search</span>
              </button>
                                    </div>
                                  </div>
                                  <!---->
                                </div>
                              </div>
                              <!---->
                              <div aria-live="polite" class="live-region visually-hidden"></div>
                            </div>
                          </div>
                        </section>
                      </div>

                      <!---->
                    </div>

                    <!---->
                    <div class="pe-form-field position-location-name  ">
                      <section id="ember11324" class="pe-form-field__type-ahead ember-view">
                        <div id="ember11328" class="ember-view">
                          <div class="type-ahead-wrapper type-ahead-theme-secondary pe-typeahead">
                            <!---->
                            <div role="search" class="type-ahead-input-container">
                              <div class="type-ahead-input-wrapper">
                                <div class="type-ahead-input">
                                  <label for="a11y-ember11324" class="label-text">
              Location
          </label>
                                  <!----><input ng-model="company.location" aria-autocomplete="list" type="text" name="locationName" autocomplete="off" spellcheck="false" placeholder="" autocorrect="off" autocapitalize="off" id="a11y-ember11324" role="combobox" class="ember-text-field ember-view">
                                  <div class="type-ahead-input-icons">
                                    <button type="reset" class="clear-search type-ahead-input-icon" data-ember-action="" data-ember-action-11330="11330">
                <li-icon aria-hidden="true" type="error-pebble-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">
        <g id="error-pebble-icon">
          <g>
            <circle class="circle" r="6.1" stroke="currentColor" stroke-width="1.8" cx="8" cy="8" fill="none" transform="rotate(-90 8 8)"></circle>
            <path fill="currentColor" d="M10.916,6.216L9.132,8l1.784,1.784l-1.132,1.132L8,9.132l-1.784,1.784L5.084,9.784L6.918,8L5.084,6.216l1.132-1.132L8,6.868l1.784-1.784L10.916,6.216z"></path>
          </g>
        </g>
        <g id="Layer_1">
        </g>
      </g></svg></li-icon>
                <span class="a11y-text">Clear Search</span>
              </button>
                                  </div>
                                </div>
                                <!---->
                              </div>
                            </div>
                            <!---->
                            <div aria-live="polite" class="live-region visually-hidden"></div>
                          </div>
                        </div>
                      </section>

                      <!---->
                    </div>

                    <!---->
                    <fieldset class="pe-form-time-period pe-form-field ">
                      <legend class="pe-form-field__label Sans-13px-black-55% block">
                        Time period
                      </legend>

                      <div class="pe-form-time-period__container">
                        <fieldset class="pe-form-time-period__start-date">
                          <legend class="pe-form-field__label Sans-15px-black-55% block">
                            From
                          </legend>

                          <div class="pe-form-time-period__date-field ">
                            <div class="pe-form-time-period__date-unit">
                              <label for="position-start-month" class="visually-hidden">
            Start month
          </label>
                              <span id="ember11331" class="ember-view">
<input ng-model="company.startdate" aria-autocomplete="list" type="date" class="ember-text-field ember-view">
</span>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="pe-form-time-period__end-date">
                          <legend class="pe-form-field__label Sans-15px-black-55% block">
                            To
                          </legend>

                          <div class="pe-form-time-period__date-field ">
                            <div class="pe-form-time-period__date-unit">
                              <label for="position-end-month" class="visually-hidden">
                                      End month
                                    </label>
                              <span id="ember11668" class="ember-view">
<input ng-model="company.enddate" aria-autocomplete="list" type="date" class="ember-date-field ember-view">
                        </span>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <!---->

                      <div id="ember11407" class="pe-form-time-period__ongoing-activity toggle-switch ember-view"><input data-control-name="edit_position_date_toggle" tabindex="0" type="checkbox" id="position-currently-works-here" class="ember-checkbox state-checkbox visually-hidden ember-view">

                        <label for="position-currently-works-here">
<!---->
    <span class="label-text">I currently work here</span>
</label>
                      </div>
                    </fieldset>


                    <div data-form-elem-focus="true" class="pe-form-field position-description floating-label  ">
                      <!----><label for="position-description" class="pe-form-field__label label-text">
    Description
  </label>

                      <textarea ng-model="company.description" name="description" id="position-description" class="ember-text-area pe-form-field__textarea ember-view"></textarea>

                      <!---->
                    </div>

                    <!---->
                    <div id="ember11410" class="ember-view">


                    </div>
                  </div>

                  <footer class="pe-s-form__footer pe-form-footer">

                    <div class="pe-form-footer__actions">

                      <button ng-click="delete(company)" type="button" data-control-name="delete" class="pe-form-footer__action--delete button-secondary-medium-muted" data-ember-action="" data-ember-action-11416="11416">
    Delete
  </button>


                      <button ng-click="save()" type="submit" class="pe-form-footer__action--submit form-submit-action Sans-15px-white-100%">
  Save
</button>
                    </div>
                  </footer>
                </div>
              </form>
            </div>

          </div>
          <div id="ember11417" class="carousel-item focused-easeInOut-motion carousel-item--pop visibility-hidden ember-view">
            <!---->
          </div>
        </div>
      </div>
      <!---->
    </div>

</md-dialog>
  </md-dialog-content>
