<p><strong>NAME:</strong> Devin Sloan</p>
<p><strong>ADDRESS</strong>: 2639 Helser Elwood, Ames, IA 50012</p>
<p><strong>PHONE</strong>: 832-731-7239</p>
<p><strong>EMAIL</strong>:&nbsp; <a href="mailto:dsloan@gmail.com">dsloan@gmail.com</a></p>
<p>&nbsp;</p>
<p><strong>EDUCATION</strong>:</p>
<ul>
  <li>Pleasant Valley High School &ndash; 2008</li>
  <li>Iowa State University - BFA, Integrated Studio Arts &ndash; 2012</li>
  <li>Iowa State University &ndash; MFA, Integrated Visual Arts - 2015</li>
</ul>
<p>&nbsp;</p>
<p><strong>WORK HISTORY</strong>:</p>
<ol>
  <li>ISU Department of Residence</li>
</ol>
<ul>
  <li>Community Advisor</li>
  <li>August 2015 &ndash; January 2017</li>
</ul>
<p>&nbsp;</p>
<ol start="2">
  <li>ISU College of Human Sciences
    <ul>
      <li>Multimedia Specialist</li>
      <li>September 2013 &ndash; April 2015</li>
    </ul>
  </li>
</ol>
<p>&nbsp;</p>
<ol start="2">
  <li>Fusion Communications
    <ul>
      <li>Master Control Operator</li>
      <li>Summer 2012 &ndash; Summer 2013</li>
    </ul>
  </li>
</ol>
<p>&nbsp;</p>
<ol start="2">
  <li>Staples
    <ul>
      <li>Electronics Associate</li>
      <li>April 2009 &ndash; August 2011</li>
    </ul>
  </li>
</ol>
<p>&nbsp;</p>
<p><strong>ADDITIONAL</strong> <strong>SKILLS</strong>:</p>
<ul>
  <li>Photoshop</li>
  <li>Illustrator</li>
  <li>InDesign</li>
  <li>After Effects</li>
  <li>Premiere</li>
  <li>Cinema 4D</li>
  <li>Flash</li>
  <li>Final Cut Pro</li>
</ul>
