<md-dialog aria-label="modal">
<md-dialog-content>
<artdeco-modal role="dialog" tabindex="-1" aria-labelledby="profile-detail" size="1128dp" class="pv-profile-detail__modal pv-profile-detail__modal--large ">
        <button class="artdeco-dismiss"><li-icon aria-hidden="true" type="cancel-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon><span class="a11y-text">Dismiss</span></button>
        <artdeco-modal-header id="ember11461" class="ember-view">    <h2 id="profile-detail" class="pv-profile-detail__title ember-view">    Skills &amp; Endorsements (25)
</h2>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->

</artdeco-modal-header><artdeco-modal-content id="ember11463" class="pv-profile-detail__modal-content ember-view">    <!---->
<!---->
<!---->
<!---->
<!---->
<div aria-hidden="true" id="ember11464" class="Sans-13px-black-70% pb2 pv-profile-detail__list-header ember-view">      <span>Delete</span>
      <span class="fr">Reorder</span>
</div>
<div id="ember11465" class="pv-profile-detail__content ph4 ember-view"><ul id="ember11466" class="pv-skills__list ember-view"><li id="ember11467" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11468" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11469="11469">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Data Mining</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

<a data-control-name="edit_endorsements" href="/in/jigno-alfred-venezuela-757600b3/skills/(ACoAABgdvDMBzCkBOWyyzHS15iPfybNs7fsPpk0,859941849)/" id="ember11470" class="featured-skill-entity-wrapper ember-view">    <div class="pv-skill-entity__pill-contents static-pill">
      <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block pv-skill-entity__skill-name--reorder-mode">Data Mining</span>

<span class="visually-hidden">See 1 endorsement for Data Mining</span>
<span aria-hidden="true" class="pv-skill-entity__endorsement-count Sans-15px-black-55%">1</span>

    </div>
</a>
  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Data Mining
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11471" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11472" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11473="11473">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete SQL</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

<a data-control-name="edit_endorsements" href="/in/jigno-alfred-venezuela-757600b3/skills/(ACoAABgdvDMBzCkBOWyyzHS15iPfybNs7fsPpk0,1650691111)/" id="ember11474" class="featured-skill-entity-wrapper ember-view">    <div class="pv-skill-entity__pill-contents static-pill">
      <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block pv-skill-entity__skill-name--reorder-mode">SQL</span>

<span class="visually-hidden">See 1 endorsement for SQL</span>
<span aria-hidden="true" class="pv-skill-entity__endorsement-count Sans-15px-black-55%">1</span>

    </div>
</a>
  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    SQL
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11475" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11476" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11477="11477">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Microsoft Office</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Microsoft Office</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Microsoft Office
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11478" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11479" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11480="11480">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Microsoft Excel</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Microsoft Excel</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Microsoft Excel
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11481" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11482" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11483="11483">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Database Administration</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Database Administration</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Database Administration
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11484" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11485" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11486="11486">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Cascading Style Sheets (CSS)</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Cascading Style Sheets (CSS)</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Cascading Style Sheets (CSS)
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11487" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11488" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11489="11489">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Microsoft PowerPoint</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Microsoft PowerPoint</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Microsoft PowerPoint
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11490" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11491" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11492="11492">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete JavaScript</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">JavaScript</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    JavaScript
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11493" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11494" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11495="11495">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete HTML</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">HTML</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    HTML
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11496" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11497" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11498="11498">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Web Development</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Web Development</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Web Development
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11499" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11500" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11501="11501">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Node.js</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Node.js</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Node.js
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11502" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11503" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11504="11504">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete AngularJS</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">AngularJS</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    AngularJS
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11505" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11506" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11507="11507">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Git</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Git</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Git
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11508" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11509" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11510="11510">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Web Crawling</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Web Crawling</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Web Crawling
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11511" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11512" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11513="11513">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Data Extraction</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Data Extraction</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Data Extraction
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11514" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11515" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11516="11516">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Web Scraping</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Web Scraping</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Web Scraping
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11517" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11518" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11519="11519">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete MongoDB</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">MongoDB</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    MongoDB
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11520" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11521" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11522="11522">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Microsoft SQL Server</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Microsoft SQL Server</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Microsoft SQL Server
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11523" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11524" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11525="11525">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete PHP</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">PHP</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    PHP
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11526" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11527" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11528="11528">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Visual Basic .NET (VB.NET)</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Visual Basic .NET (VB.NET)</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Visual Basic .NET (VB.NET)
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11529" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11530" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11531="11531">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Python</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Python</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Python
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11532" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11533" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11534="11534">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Express.js</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Express.js</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Express.js
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11535" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11536" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11537="11537">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Regular Expressions</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Regular Expressions</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Regular Expressions
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11538" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11539" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11540="11540">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete API Development</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">API Development</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    API Development
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li><li id="ember11541" class="pv-skills__list-item sortable-item ember-view">          <div id="ember11542" class="pv-skills__list-entity pv-skill-entity--reorder pv-skill-entity relative ember-view">

  <button class="pv-skill-entity__delete-button button-tertiary-small-round-muted" data-ember-action="" data-ember-action-11543="11543">
    <span class="svg-icon-wrap"><span class="visually-hidden">Delete Google Apps Script</span><li-icon aria-hidden="true" type="cancel-icon" size="large"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z"></path>
      </g></svg></li-icon></span>
  </button>

<div class="pv-skill-entity__header">
  <div class="tooltip-container">

  <div class="pv-skill-entity__pill-contents static-pill">
    <span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block">Google Apps Script</span>
  </div>

  <div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
    Google Apps Script
  </div>
</div>
  <!---->
</div>

<!---->
<span>
  <span class="pv-skill-entity__handle svg-icon-wrap" style="touch-action: none;"><span class="visually-hidden">Click and drag to reorder skills</span><li-icon aria-hidden="true" type="reorder-icon" size="medium"><svg viewBox="0 0 24 24" width="24" height="24" style="" x="0" y="0" preserveAspectRatio="xMinYMin meet"><g class="large-icon" style="fill: currentColor">
        <path d="M22,5V7H2V5H22ZM2,11H22V9H2v2Zm0,4H22V13H2v2Zm0,4H22V17H2v2Z" style="isolation: isolate"></path>
      </g></svg></li-icon></span>
</span>

</div>

</li>
</ul></div>

</artdeco-modal-content><artdeco-modal-footer id="ember11544" class="ember-view">      <!---->
<button ng-click="save()" id="ember11545" class="pv-skills__save button-primary-medium ml2 fr ember-view">      Save
</button>
<!---->
<!---->
<a data-control-name="edit_skills_settings" href="/in/jigno-alfred-venezuela-757600b3/skills/settings/" id="ember11546" class="pv-profile-detail__link button-tertiary-medium-muted fl ember-view">      Adjust endorsement settings
</a>
<!---->
<!---->

</artdeco-modal-footer>
      </artdeco-modal>
    </md-dialog-content>
    </md-dialog>
